.bar rect {
  fill: #337ab7;
  stroke: #337ab7;
}

/*.bar:hover {
  fill: white;
}
*/
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.row:nth-child(2) {
	text-align: center;
}

.bar text {
	fill: #337ab7;
}
